@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@400;700&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");
:root {
  --pink: hsl(304, 52%, 55%);
  --light-pink: hsl(304, 52%, 80%);
  --blue: hsl(230, 60%, 54%);
  --light-blue: hsl(230, 60%, 70%);
  --yellow: hsl(39, 100%, 72%);
  --standard-radius: 20px;
  --small-radius: 10px;
}
main {
  margin: 2rem 5rem 3rem 5rem;
}
body {
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem 5rem;
}
header div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
header a {
  transition: all 0.2s ease-in-out;
}
header a:hover {
  scale: 1.1;
  transition: all 0.2s ease-in-out;
}
header div a:last-child {
  text-decoration: underline;
}
main {
  margin: 2rem 5rem 3rem 5rem;
}
a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 3.5rem;
}
h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
}
p {
  font-family: "Lato", sans-serif;
}
.playlists {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.playlist {
  border-radius: var(--standard-radius);
  display: grid;
  align-items: center;
  width: 200px;
  padding: 15px;
  margin-bottom: 50px;
  transition: all 0.2s ease-in-out;
}
.playlist img {
  width: 90%;
}
.playlist h2,
p {
  margin: 0;
}

.playlist:hover {
  background-color: gray;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .playlists {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
  header {
    flex-direction: column;
  }
  header div {
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }

 .playlists {
  border-top: 2px solid white;
 } 
 main {
  margin: 0 1rem 0 1rem;
}
.playlist {
  margin-bottom: 0;
}
}
