.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: var(--secondary-font);
  padding: 1rem;
}
.form {
  display: flex;
  min-width: 400px;
  flex-direction: column;
  padding: 2rem;
  gap: 0.2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}
.error {
  color: var(--white);
  font-weight: 700;
  padding: 0.5rem;
  background-color: hsla(0, 100%, 50%, 0.345);
  border: 1px solid var(--main-red);
  text-align: center;
}
.form__input {
  padding: 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
}

.form__button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--main-red);
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
}

.form__label {
  font-weight: 700;
}
.secondary__buttons {
  display: flex;
  justify-content: space-between;
}
.password__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .form {
    min-width: 300px;
  }
}