@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");
:root {
  --border-radius: 15px;
}
body {
  background-color: #9d9b9b;
  font-family: "Bruno Ace", cursive;
  overflow-x: hidden;
}
header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}
main {
  margin: 5vh 10vw;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
a {
  text-align: center;
}
.button {
  margin: 10px;
  font-family: "Open Sans", sans-serif;
  width: 250px;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button span {
  transition: 0.1s all ease-in-out;
  font-weight: 700;
}
.button:hover span {
  color: red;

  
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

footer {
  padding:10vw;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
}
footer div:nth-child(2) {
  display: flex;
  gap: 15px;
}

@media (max-width: 850px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .button {
    padding: 0.25em 0.75em;
  }
}
@media (max-width: 580px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}
