@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
}

.buttons {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  display: flex;
  margin: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: white;
  color: black;
}
