
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: var(--secondary-font);
}
.form {
    display: flex;
    min-width: 400px;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.form__input {
    padding: 1rem;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
}

.form__button {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--main-red);
    color: var(--white);
    cursor: pointer;
    font-weight: 700;
}

.form__label {
    font-weight: 700;

}

.form__label input {
    margin-right: 0.5rem;
}

.error {
    color: var(--white);
    font-weight: 700;
    padding: .5rem;
    background-color: hsla(0, 100%, 50%, 0.345);
    border: 1px solid var(--main-red);
    text-align: center;
}
