a {
  color: var(--black);
  text-decoration: none;
}
.outer__card {
  margin: 0 auto;
}
.card {
  position: relative;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
  font-family: var(--primary-font);
}
.outer__card {
  position: relative;
}

.image__container {
  width: 100%;
  overflow: hidden;
}
.card__image {
  transition: scale 0.2s ease-in-out;
}

.card:hover .card__image {
  scale: 1.1;
  transition: scale 0.2s ease-in-out;
}

.card__content {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.rating__container {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 200px;
  }
}
.absolute__button {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background-color: white;
}
.absolute__button:hover {
  scale: 1.1;
}
.delete__button {
  top: 2%;
  right: 2%;
}
.edit__button {
  bottom: 2%;
  right: 2%;
}
