.header {
    width: 100%;
    font-family: var(--secondary-font);
    border-bottom: 1px solid var(--light-grey);
}
.secondary__header {
    background-color: var(--main-red);
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: calc(1vw + 1vh);
    padding: var(--main-padding);
    font-weight: 700;
    color: var(--white);
}

.secondary__header a {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}
.secondary__header p {
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}

.main__header {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(1vw + 1vh);
    padding: var(--main-padding);
    font-weight: 700;
}
.main__header_links {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.main__header_links a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.main__header_logo {
    width: 180px;
}



@media (max-width: 768px) {
    .main__header {
        height: 10vh;
    }
    .main__header_links {
        gap: 1rem;
        font-size: 1.5rem;
    }
    .main__header_logo {
        width: 120px;
    }
    .secondary__header {
        gap: 1.8rem;
    }
}

@media (max-width: 425px) {
    .main__header {
        height: 8vh;
    }
    .main__header_links {
        gap: 0.5rem;
        font-size: 1.2rem;
    }
    .main__header_logo {
        width: 100px;
    }
    .secondary__header {
        gap: 1.5rem;
    }
}
