.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  gap: 3rem 1rem;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  color: white;
}
.filter input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.searchFields {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}



/* media query */

@media (max-width: 768px) {
  .outer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container {
    gap: 1rem 1rem;
    align-items: center;
  }
  .filter {
    flex-direction: column;
    gap: 1rem;
  }
  .searchFields {
    flex-direction: column;
    gap: 1rem;
  }
}
