.product__section {
  padding: var(--main-padding);
  font-family: var(--primary-font);
  display: flex;
  width: 100%;
  gap: 2rem;
  margin: 2rem 0;
}
.product__heart {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: var(--main-red);
  cursor: pointer;
}
.product__heart_active {
    color: var(--main-red);
    
}
.product__rating {
  display: flex;
  gap: 2px;
  margin-bottom: 1rem;
}

.product__image {
  width: 50%;
}
.product__secondary_images {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  gap: 15px;
}

.secondary__image {
  max-width: 120px;
}

.product__title {
  font-size: 2rem;
  font-family: var(--secondary-font);
  margin-bottom: 1rem;
}
.product__subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.product__content {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.product__colours {
  display: flex;
  gap: 5px;
  margin-bottom: 1rem;
}
.product__size {
  width: 100%;
  margin-bottom: 1rem;
}
.form__label {
  display: flex;
  flex-direction: column;
}
.product__buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.product__button {
  width: 100%;
  border: none;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
}
.product__button:hover {
  background-color: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
  transition: color 0.2s, background-color 0.2s;
}
.product__specs {
  padding: var(--main-padding);
  margin-bottom: 2rem;
}
.section__title {
  font-size: 2rem;
  font-family: var(--secondary-font);
  margin-bottom: 1rem;
}
.description__content {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}


@media screen and (max-width: 1200px) {
  .product__section {
    flex-direction: column;
  }
  .product__image {
    width: 100%;
  }
  .product__secondary_images {
    flex-direction: row;
  }
  .product__content {
    width: 100%;
  }
}


@media screen and (max-width: 768px) {
  .product__section {
    flex-direction: column;
  }
  .product__image {
    width: 100%;
  }
  .product__secondary_images {
    flex-direction: row;
  }
  .product__content form {
    width: 100%;
  }
}