body {
  background-color: black;
  transition: 0.5s ease-in-out;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#lamp {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#turnOn {
  background-color: rgb(234,233,71);
}
.buttons {
  text-align: center;
}
  
.light {
    filter: grayscale(0%);
    transition: 0.5s ease-in-out;
}
.dark {
    filter: grayscale(100%);
    filter: brightness(10%);
    transition: 0.5s ease-in-out;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 1vw;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  background-color: rgb(200, 194, 194);
}
button:hover {
  background-color: rgb(234,233,71);
  transition: 0.5s ease-in-out;
}

.body-bg-light {
background: radial-gradient(circle, rgb(234,233,71) 0%, rgb(237, 237, 172) 20%, rgba(255, 255, 255, 0) 40%);
}
.body-bg-dark {
  background-color: black;
  transition: 0.5s ease-in-out;
}