.highlight {
    padding: 0 20vw;
    height: 80vh;
    font-family: var(--primary-font);
}

.title {
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
    font-family: var(--secondary-font);

}

.highlight__content {
    display: flex;
    justify-content: start;
}
.content__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content__text a {
    text-align: right;
}
.content__image {
    width: 60%;
}

.product__description {
    margin: 1rem 0;
}

.button__container {
    display: flex;
    justify-content: end;
    width: 100%;
}
.main__button {
    background-color: var(--black);
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.2s ease-in-out;

}

.main__button:hover {
    background-color: var(--main-red);
    transition: background-color 0.2s ease-in-out;
}


@media screen and (max-width: 1200px) {
    .content__text {
        margin-top: 2rem;
    }
    .content__image {
    }
    .button__container {
        justify-content: center;
    }
    .highlight__content {
        flex-direction: column;
        align-items: center;
    }
}