@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body {
  height: 500vh;
  background: #000;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

a {
  position: fixed;
  bottom: 5%;
  left: 5%;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.container {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: .8;
}
.scroll {
  width: 50px;
  height: 90px;
  border: 3px solid #fff;
  border-radius: 60px;
  position: relative;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: scroll 2s infinite;
  }
}

@keyframes scroll {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes scroll {
  to {
    opacity: 0;
    top: 60px;
  }
}

/* https://codepen.io/TKS31/pen/gOaKaxx */