@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
@font-face{
  font-family:'digital-clock-font';
  src: url('src/fonts/digital-7.regular.ttf');
 }
:root {
  --title-font: "Arvo", serif;
  --text-font: "Lato", sans-serif;

  --main-blue-700: #a0e9ff;
  --main-blue-600: #4de1ff;
  --main-blue-500: #0bd2ff;
}
body {
  overflow: hidden;
  background: var(--main-blue-700);
  background: -webkit-linear-gradient(
    0deg,
    var(--main-blue-700) 0%,
    var(--main-blue-600) 50%,
    var(--main-blue-500) 100%
  );
  background: linear-gradient(0deg, var(--main-blue-700) 0%, var(--main-blue-600) 50%, var(--main-blue-500) 100%);
  

}
/* header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 10vh;
  background-color: transparent;
}
header a {
  text-decoration: none;
  color: black;
  font-family: var(--title-font);
  font-size: 32px;
}
main {
  font-family: var(--title-font);
  margin: 5rem 10vw;
}

/* settings */
.innersettings {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  padding: 1rem;
}
.settings p {
  padding: 0 1rem;
}
.settings p span {
  font-weight: 700;
}
.innersettings div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.innersettings img {
  width: 100%;
  max-width: 30vw;
}
.innersettings label {
  font-family: var(--text-font);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.innersettings label select {
  font-family: var(--text-font);
  padding: 0.2rem;
  background-color: transparent;
}
input {
  font-family: var(--text-font);
  font-size: 1.5rem;
  padding: 0.2rem;
  background-color: transparent;
}


/* quiz */
/* questionnumber */
.questionnumber {
  font-family: var(--text-font);
  font-size: 3rem;
  position: absolute;
  top: 10vh;
  left: 10vw;
}
/* timer */

.timer {
  font-family: "digital-clock-font";
  font-size: 3rem;
  position: absolute;
  top: 10vh;
  right: 10vw;
}
/* question */
.question {
  font-family: var(--text-font);
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}
.quiz-questions {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* answers */
.answers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.answer-card {
  max-width: 30vw;
  margin: 2rem;
  padding: 1rem;
  background-color: transparent;
  font-size: .8rem;
  font-weight: 700;
}
/* buttons */
button {
  transition: all 0.2s ease-in-out;
}
button:hover {
  transition: all 0.2s ease-in-out;
  scale: 1.1;
  cursor: pointer;
}
.stop {
  display: flex;
  justify-content: end;
  align-items: center;
}
.stop-button {
  background-color: transparent;
  font-family: var(--text-font);
  font-size: 1.5rem;
  padding: 1rem;
}
.stop-button:hover {
  transition: all 0.2s ease-in-out;
  border: red solid 3px;
  cursor: pointer;
}
.start-button {
  background-color: transparent;
  color: black;
  font-family: var(--text-font);
  font-size: 1rem;
  padding: 1rem;
}
.hidden {
  display: none !important;
}
/* results */
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.result img {
  margin-top: 1rem;
  width: 300px;
}
.result-text {
  font-size: 2rem;
}

/* Loading state */
.spinner {
  --radius: 33.6;
  --size: 16.8;
  position: relative;
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #474bff;
  border-radius: 50%;
  transform: rotate(calc(var(--angle) * 1deg))
    translate(0, calc(var(--radius) * 0px));
  animation: spinner-19rk4d 1.5s calc(var(--delay) * 1.2s) infinite ease;
}

.spinner div:nth-child(1) {
  --angle: 45;
  --delay: 0.1;
}

.spinner div:nth-child(2) {
  --angle: 90;
  --delay: 0.2;
}

.spinner div:nth-child(3) {
  --angle: 135;
  --delay: 0.3;
}

.spinner div:nth-child(4) {
  --angle: 180;
  --delay: 0.4;
}

.spinner div:nth-child(5) {
  --angle: 225;
  --delay: 0.5;
}

.spinner div:nth-child(6) {
  --angle: 270;
  --delay: 0.6;
}

.spinner div:nth-child(7) {
  --angle: 315;
  --delay: 0.7;
}

.spinner div:nth-child(8) {
  --angle: 360;
  --delay: 0.8;
}

@keyframes spinner-19rk4d {
  0%,
  30%,
  50%,
  100% {
    transform: rotate(calc(var(--angle) * 1deg))
      translate(0, calc(var(--radius) * 0px)) scale(0);
  }

  40% {
    transform: rotate(calc(var(--angle) * 1deg))
      translate(0, calc(var(--radius) * 1px)) scale(1);
  }
}
/* media query */
@media (max-width: 400px) {
  main {
    margin: 5rem 2vw;
  }
  .question-card {
    margin: 1rem;
  }
}

@media (max-width: 700px) {
  body {
    overflow-y: scroll;
    background: var(--main-blue-700);
  }
}
@media (max-width: 850px) {
  .settings img {
    display: none;
  }
}
