.section {
  padding: var(--main-padding);
  margin: 2rem 0 2.5rem 0;
  font-family: var(--primary-font);
}
.like {
  border-top: 2px solid var(--main-red);
}
.account__info {
  position: relative;
  margin-top: 2rem;
}
.section__title {
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.info__label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.info__text {
  margin-bottom: 0.5rem;
}
.info__label_small {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.absolute__button {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  background-color: white;
}
.absolute__button:hover {
  scale: 1.1;
}
.delete__button {
  top: 2%;
  right: 2%;
}
.edit__button {
  top: 2%;
  right: 2%;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }