.hero {
  background-image: url(/images/hero.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  font-family: var(--secondary-font);
  position: relative;
}

.hero__title {
  position: absolute;
  font-family: var(--tertiary-font);
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 700;
  color: var(--main-red);
  font-weight: 700;
  line-height: 7rem;
}

.contact {
  padding: 0 20vw;
  font-family: var(--primary-font);
}
.contact__title {
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
  font-family: var(--secondary-font);
}
.contact__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.contact__text {
  margin-top: 1rem;
}

.contact__text_container {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 1100px) {
  .hero {
    height: 75vh;
  }
  .contact__flex {
    display: flex;
    flex-direction: column;
  }
  .hero__title {
    font-size: 6rem;
  }
  .contact {
    padding: 0 10vw;
  }
}
@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 4rem;
  }
  
}

@media screen and (max-width: 500px) {
  .hero__title {
    font-size: 3rem;
    left: 60%;
  }
}
