.message {
  font-family: var(--primary-font);
  position: relative;
  border-bottom: 2px solid var(--light-grey);
  padding: 1rem;
}

.message__title {
  font-family: var(--secondary-font);
}

.message__subtitle {
  margin-bottom: 1rem;
}

.button__container {
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.message__button {
  background-color: var(--main-red);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-family: var(--secondary-font);
  transition: background-color 0.2s ease-in-out;
}

.message__button:hover {
  background-color: var(--black);
  transition: background-color 0.2s ease-in-out;
}

.message__exclamation {
  position: absolute;
  top: 0;
  right: -1.5rem;
  transform: rotate(15deg);
}

@media screen and (max-width: 768px) {
  .message__button {
    padding: 0.25rem 0.5rem;
  }
  .button__container {
    position: static;
  }
}
