.footer {
    margin-top: 32px;
    font-family: var(--secondary-font);
    border-top: 1px solid var(--light-grey);
}

.main__footer {
    padding: var(--main-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.secondary__footer {
    height: 5vh;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--main-padding);
}

.main__footer_logo {
    width: 180px;
}

.footer__links {
    display: flex;
    gap: 16px;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--black);
}

.footer__links a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}


@media (max-width: 1100px) {
    .secondary__footer {
        height: 7rem;
    }

    .main__footer_logo {
        width: 120px;
    }

    .secondary__footer {
        gap: 1.8rem;
    }
}

@media (max-width: 768px) {
    .footer__links {
        flex-direction: column;
        gap: 4px;
    }
}



@media (max-width: 600px) {
    .secondary__footer {
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .main__footer {
        flex-direction: column;
        align-items: start;
        gap: 16px;
    }
    .main__footer_logo {
        width: 160px;
    }
}